REACT_APP_SUPABASE_URL=https://xuhodkbusnprpwtkazmc.supabase.co
REACT_APP_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh1aG9ka2J1c25wcnB3dGthem1jIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA1NTk2NzAsImV4cCI6MjA5NjEzNTY3MH0.7QLyr5YYMNeYQyEpLvk4JUSNkWTD50OjiXfkCakbIrQ
